<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <img src="/images/<% articles.image %>.jpg" alt="<%= article.title%>">
    <h2><%= articles.title %></h2>
    <p><span class="bold">Color:</span> <%= articles.color %></p>
    <p><span class="bold">Length:</span> <%= articles.length %></p>
    <p><span class="bold">Habitat:</span> <%= articles.habitat %></p>
    <p><span class="bold">Link:</span> <%= articles.link %></p>
  </article>
<% include ../partials/footer %>
