<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <img src="/images/<% articles.image %>">
    <h2><%= article.title %></h2>
    <p><span class="bold">Color:</span> <%= article.color %></p>
    <p><span class="bold">Length:</span> <%= article.length %></p>
    <p><span class="bold">Habitat:</span> <%= article.habitat %></p>
    <p><span class="bold">Link:</span> <%= article.link %></p>
  </article>
<% include ../partials/footer %>
