<% include ../partials/head %>
<% include ../partials/header %>
  <article>
    <img src="/images/<%= articles.image %>.jpg" alt="<%= articles.title%>">
    <h2><%= articles.title %></h2>
    <p>Color: <%= articles.color %></p>
    <p>Length: <%= articles.length %></p>
    <p>Habitat: <%= articles.habitat %></p>
    <p>Link:<%= articles.link %></p>
  </article>
<% include ../partials/footer %>
